/* ESTILOS GENERALES*/
*{
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
}

/*--- Secciones ---*/

/*-- Nav --*/
.navbar-brand > img{
    width: 55px;
}
.navbar-main .active{
    text-decoration: underline wavy purple;
    text-underline-offset: 9px;
}

/*-- Header --*/
.icons-social-networks > a {
    --size: 50px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s filter;
}

.icons-social-networks > a:hover{
    filter: opacity(0.5)
}

.bg-wpp {
    background-color: green;
}

.bg-IG {
    background-color: #f1066b;
}

.bg-In {
    background-color: blue;
}

.header-main {
    min-height: 100vh;
    width: 100%;
}

footer{
    background-color: cornflowerblue;
    height: auto;
    margin-top: 10px ;
}

/*-- Datos --*/
#secDatos{
    margin-top: 5%;
}

/*-- Contacto --*/
#secContacto{
    
}



/*-- Responsive --*/
@media screen and (max-width: 1000px){
    #secDatos{
        margin-top: 10%;
    }
}

@media screen and (max-width: 500px){
    body{
        margin-top: 4rem;
    }

    .header-main {
        height: initial;
    }

    #secDatos{
        margin-top: 25%;
    }
}
