/*--NavBar--*/
.navbar-main{
    .navbar-brand{
        img{
            width: 55px;
        }
    }

    .active{
        text-decoration: underline wavy #727ab8;
        text-underline-offset: 9px;
    }
}