/*--NavBar--*/
.navbar-main{

    .navbar-brand{
        img{
            width: 55px;
        }
    }

    .active{
        text-decoration: underline wavy purple;
        text-underline-offset: 9px;
    }
}